/* Colors three */
:root {
    --white-pure: #FFF;
    --white-bg: #FAFAFB;

    --blue-dark: #002766;
    --blue-mid: #004191;
    --blue-light: #F5FAFD;

    --gray-text: #4a4a4a;
    --gray-border:#F0F0F0;

    --shadow: #26262633;

    --green-blue: linear-gradient(to right, #52d0a1, #00b1b0, #008fb9, #006ab1, #004191);
}

/* ----- Reset ----- */
* {
	margin: 0;
	padding: 0;
	border-spacing: 0px;
	box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* ----- Reset ----- */


body {
    height: 100vh;
    width: 100vw;
    background-image: var(--white-bg);
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    background-color: var(--white-pure);
}

/* ----- Header styles ----- */
.header-content {
	background-color: var(--blue-dark);
	width: 100%;
	height: 2.5rem;

}

.bottom-header-content {
	background-color: var(--blue-mid);
	height: 1.875rem;
}

.bottom-header-line {
	height: 2px;
	background-image: var(--green-blue);
}
/* ----- Header styles ----- */

/* ----- Cards styles ----- */
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: auto;

    padding: 1.25rem 0 1.25rem 0;
}

#card {
    display: flex;
    width: 11rem;
    height: 14rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--white-pure);

    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--white-pure);
    opacity: 0.9;
    border: 0.063rem solid var(--grey-border);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px var(--shadow);
    border-radius: 0.5rem;
}

#card:hover{
    box-shadow: 0px 4px 12px var(--shadow);
    transition: all 0.2s ease-out;
}

.card-text {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--gray-text);
}

.card, p:hover {
    color: var(--blue-dark);

}

.card-title {
    padding: 6px 0;
    margin: 0 auto;
}

.card-version {
    margin: 0 auto;
}

img {
    width: 7rem;
}

h3 {
    font: 500 1rem 'Mulish', sans-serif;
}

p {
    font: 700 1rem 'Open Sans', sans-serif;
}

p {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
p[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 25px;
  left: 45px;
  border-radius: 2px;
  padding: 4px;
  background-color: #000000f0;
  color: var(--white-pure);
  box-shadow: 0px 4px 8px var(--shadow);
  font: 400 0.8rem 'Open Sans', sans-serif;
}

