<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Version Crawler</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="global">

        <conteiner class="header">
            <div class="header-content"></div>
            <div class="bottom-header-content"></div>
            <div class="bottom-header-line"></div>
        </conteiner> 

        <section class="page-body">
            <div class="cards">
                <a href="http://geo.alfredochaves.es.gov.br/" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Alfredo Chaves</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Arapongas</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version" title="<%= versao_data.date %>"><%= versao_data.versao %></p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Biguaçu</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Camaçari</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Ibirama</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Itapema</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Jacareí</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Lajeado</h3>
                            <p class="card-version">1.43.2</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Navegantes</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Santo Ângelo</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Timbó</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div id="card">
                        <div class="card-img">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Bras%C3%A3o_de_Umuarama_-_PR.svg" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Umuarama</h3>
                            <p class="card-version">x.x</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
  </body>
</html>
