<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Version Crawler</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="global">

        <conteiner class="header">
            <div class="header-content"></div>
            <div class="bottom-header-content"></div>
            <div class="bottom-header-line"></div>
        </conteiner> 

        <section class="page-body">
            <div class="cards">
                <a href="">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div id="card">
                        <div class="card-img">
                            <img src="/download.png" alt="Brasão Município">
                        </div>
                        <div class="card-text">
                            <h3 class="card-title">Baln. Camboriú</h3>
                            <p class="card-version">V 1.39.0</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
  </body>
</html>
